<nav class="nav nav--black" id="navbar">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo"><img src="../img/logo.jpg" /></a>



  <div id="login" style="display: none">
    <div class="login-form">
      <form id="login-form">
        <div class="email-cn">
          <label for="email">
            <i class="fa fa-envelope"></i> <b>Email</b>
          </label>
          <input type="email" placeholder="Enter Email" id="email" name="email" autocomplete="off" required />
        </div>

        <div class="pass-cn">
          <label for="password">
            <i class="fa fa-asterisk"></i> <b>Password</b>
          </label>
          <input type="password" placeholder="Enter Password" id="password" name="password" autocomplete="off"
            required />
          <span class="status-message text-danger" style="font-size: 12px; font-weight: 600"></span>
        </div>

        <button type="submit">Login</button>

        <div class="register">
          <label for="signup">Not a member? <b><a href="/auth/register">Sign Up</a></b></label>
        </div>
      </form>
    </div>
  </div>



  <% if(typeof req.identity !=="undefined" ) { %>

    <% if(req.identity.role.includes('1302')) { %>

      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="/foodCartel">Home</a></li>
        <li><a href="/foodCartel#about">Location</a></li>
        <li><a href="/foodCartel#menu">Menu</a></li>
        <li><a href="/foodCartel#menu">Feedback</a></li>
      </ul>
        <!-- logout -->
  <div id="logout" style="display: none">
    <div class="logout-div">
      <ul class="logout-dropdown">
        <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a>
        </li>
        <li href="/orders/<%- req.identity._id %>"><a href="/orders/<%- req.identity._id %>"><i class="fa fa-shopping-bag" aria-hidden="true"></i></i>My Orders</a>
        </li>
        <li><a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Reservations</a>
        </li>
        <div class="divider">
          <hr>
        </div>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
        </li>
        <li><a id="logout_list"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- logout -->
  
      <div style="display: inline-flex;">
        <button id="logout-btn" class="navbar_btn" style="display: block;">
          <%- req.identity.username %>
            <i style="font-size:24px" class="fa">&#xf107;</i>
        </button>
        <button class="cart_btn" onclick="window.location.href = '/cart'"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 1.5rem;"></i> <span
            id="cart-total" class="cart-badge"></span></button>
      </div>
      <%} %>

        <% }else{ %>
          <ul class="nav-links">
            <i class="uil uil-times navCloseBtn"></i>
            <li><a href="#">Home</a></li>
            <li><a href="#about">Location</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#menu">Feedback</a></li>
          </ul>
          <button id="login-btn" class="navbar_btn" style="display: block;">Login <i style="font-size:24px; padding-left: 10px"
              class="fa">&#xf107;</i></button>

          <%} %>

</nav>