<section id="menu-white">
  <div class="menu__container">
    <span class="special-menu-text">Special Menu</span>
    <ul class="menu__list">
      <li>
        <div class="img">
          <img src="img/food1.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
      <li>
        <div class="img">
          <img src="img/food2.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
      <li>
        <div class="img">
          <img src="img/food3.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
      <li>
        <div class="img">
          <img src="img/food4.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
      <li>
        <div class="img">
          <img src="img/food5.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
      <li>
        <div class="img">
          <img src="img/food6.jpg" alt="" />
          <span class="price">₱50</span>
        </div>
        <a href="#" class="title">Food</a>
      </li>
    </ul>
  </div>
  <div class="cart-bag">
    <div class="card">
      <span class="card-header"> Table 1 </span>
      <p>User Name</p>
      <hr />
      <ul class="cartitems">
        <ul>
            <div class="cart-img">
                <img src="img/food6.jpg" alt="" />
            </div>
            <div class="cart-item-details">
              <span class="item-name">Food 1</span>
              <p>Price: P50</p>
            </div>
            <div class="cart-item-action">
               <button>+</button>
                <span class="item-price">P50</span>
                <button>-</button>
            </div>
        </ul>
      </ul>
    </div>
  </div>
</section>
