<span class="special-menu-text">Payment</span>
<section id="checkout">
  <div class="reserve_tbl">
    
    <div class="card">
      <div>Table Reservation</div>
      <div class="selectdiv">
        <label for="cars"># of Person/s</label>

        <select name="cars" id="cars">
          <option value="table1">Table 1</option>
          <option value="table2">Table 2</option>
          <option value="table3">Mercedes</option>
          <option value="table4">Audi</option>
        </select>
      </div>
      <div class="selectdiv">
        <label for="cars">Date:</label>

       <input type="date" name="" id="">
      </div>
      <div class="selectdiv">
        <label for="cars">Time:</label>

       <input type="time" name="" id="">
      </div>
      <div class="selectdiv">
        <label for="cars">Note:</label>

       <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>

  <div class="payment">
    <div class="card">Payment Method</div>
  </div>

  <div class="order_summary">
    <div class="card">
      Order Summary

    </div>
  </div>
</section>
