<!DOCTYPE html>
<html>

<head>
	<title>Restaurant Management System</title>
	<link rel="stylesheet" type="text/css" href="./css/dashboard.css">

	<!-- Google font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

	<!-- SIDEBAR -->
	<div class="container">
		<div class="sidebar">
			<ul>
				<li>
					<a href="#">
						<span class="icon"></span>
						<span class="title">The Food Cartel</span>
					</a>
				</li>
				<li>
					<a href="#dashboard">
						<span class="icon"><ion-icon name="apps-outline"></ion-icon> </span>
						<span class="title">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="#staff">
						<span class="icon"><ion-icon name="people-outline"></ion-icon> </span>
						<span class="title">Staff</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="log-out-outline"></ion-icon> </span>
						<span class="title">Sign Out</span>
					</a>
				</li>
			</ul>
		</div>


		<!-- CARDS-->
		<div class="main">
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<div class="user">
					<img src="./img/logo.jpg">
				</div>
			</div>
			<div class="cardBox">
				<div class="card">
					<div>
						<div class="numbers">0</div>
						<div class="cardName">Reservations</div>
					</div>
					<div class="iconBx">
						<ion-icon name="restaurant-outline"></ion-icon>
					</div>
				</div>

				<div class="card">
					<div>
						<div class="numbers">10</div>
						<div class="cardName">Users</div>
					</div>
					<div class="iconBx">
						<ion-icon name="person-outline"></ion-icon>
					</div>
				</div>

			</div>


		</div>

	</div>





	<script src="./js/dashboard.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<script>
		let toggle = document.querySelector('.toggle');
		let sidebar = document.querySelector('.sidebar');
		let main = document.querySelector('.main');

		toggle.onclick = function () {
			sidebar.classList.toggle('active')
		}
	</script>

	<script>
		let list = document.querySelector('.sidebar li');
		function activeLink() {
			list.forEach((item) =>
				item.classList.remove('hovered'));
			this.classList.add('hovered');
		}
		list.forEach((item) =>
			item.addEventListener('mouseover', activeLink))
	</script>

</body>

</html>