<div class="sign-up-container">
    <form action="/signup" method="POST">
        <div class="form-padding">
            <h2>Create Account</h2>

            <label for="name"><i class="fa fa-user"></i> Name</label>
            <input type="text" id="name" name="name" autocomplete="off">

            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" autocomplete="off">

            <label for="phone"><i class="fa fa-phone-square"></i> Phone</label>
            <input type="number" id="phone" name="phone" minlength="10" maxlength="11" autocomplete="off">

            <label for="password"><i class="fa fa-asterisk"></i> Password</label>
            <input type="password" id="password" name="password" autocomplete="off">

            <button class="signup">Sign up</button>
        </div>
        <div class="loginDiv">Have an account?<a href="./index.html">Sign in</div>

    </form>
</div>